<div class="card mx-auto border-0" style="width: 26rem;">
  <div class="card-body text-center">
    <h4 class="card-title Welcome-to-AGile-Too">Set up your profile</h4>
    <p class="card-text Create-and-share-boa">Add info about yourself</p>
    <div class="form-group text-left">
      <label for="exampleInputEmail1" class="Email-address">Full name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type your full name here" required>
    </div>
    <div style="padding-top: 5rem;">
        <a routerLink="/sign-up" routerLinkActive="active" class="btn btn-primary Rectangle-3">Next step</a>
    </div>
  </div>
</div>

