<div class="card mx-auto border-0 text-center" style="width: 26rem;">
  <div class="card-body">
    <h4 class="card-title Welcome-to-AGile-Too">Confirm your email</h4>
    <p class="card-text Create-and-share-boa">Your account was successfully created but there’s still few steps to do. Go to your mailbox and confirm your email and set up your profile!</p>
    <div style="padding-top: 5rem;">
        <a routerLink="/first-setup-profile" routerLinkActive="active" class="btn btn-primary Rectangle-3">Resend link</a>
    </div>
  </div>
</div>