<div class="card mx-auto border-0 text-center" style="width: 26rem;">
    <div class="card-body">
      <h4 class="card-title Welcome-to-AGile-Too">Almost done!</h4>
      <p class="card-text Create-and-share-boa">Set up your profile, add photo, name</p>
      <p class="card-text Create-and-share-boa">and create your first board!</p>
      <div style="padding-top: 5rem;">
          <a routerLink="/login" routerLinkActive="active" class="btn btn-primary Rectangle-3">Get started</a>
      </div>
    </div>
</div>