<div>
    <a class="navbar-brand" href="#" style="float: left;">Home</a>
    <app-nave-bar></app-nave-bar>
</div> 
<div class="card mx-auto border-0" style="width: 26rem;">
  <div class="card-body">
    <h4 class="card-title Welcome-to-AGile-Too text-center">Welcome to Agile Tool</h4>
    <p class="card-text Create-and-share-boa">Create and share boards with your co-workers</p>
    <p class="card-text Create-and-share-boa">Brainstorm remote</p>
    <div class="text-center" style="padding-top: 5rem;">
      <a href="#" class="btn btn-primary Rectangle-3">Sign up</a>
      <a href="#" class="btn btn-primary Rectangle-3">Log in</a>
    </div>
    <p class="card-text Need-some-help-FAQ" style="padding-top: 6rem;">Need some help?
        <a href="#" style="color: #00379b;">FAQ</a>
    </p>
  </div>
</div>